*{
    background-color: black;
}
.navbar{
    display: flex;
    justify-content: center;
    
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
   
}
 li{
    float: left;
    font-family: "Briem Hand", cursive;
    color: aliceblue;
 }
li a{
    display: block;
    padding: 8px; 
}

.description{
    margin: 0;
    padding: 80px 2px 2px 100px; 
}

.description p{
    padding-bottom: 0%;
    font-family: "Josefin Sans", sans-serif;
    color: aliceblue;
}

.description h1{
    color: aliceblue;
    font-family: "Briem Hand", cursive;
}
.description h5{
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
}
.description button:hover{
    background-color: silver;
}
.description button{
    background-color: black;
    color: azure;
    border-radius: 20px;
}

.profile-img{
    width: 20px;
    height: 10px;
    border: solid white;
    /* margin: 0;
    padding: 0px 2px 2px 400px ; */
}